<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <appender name="stdout" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>%d{HH:mm:ss.SSS} %-5p - %m%n</pattern>
    </encoder>
  </appender>
  <logger name="org.dcm4che3.net.Association" level="DEBUG"/>
  <logger name="org.dcm4che3.net.Timeout" level="DEBUG"/>
  <logger name="org.dcm4che3.net.Dimse" level="DEBUG"/>
  <root level="INFO">
    <appender-ref ref="stdout"/>
  </root>
</configuration>
