<?xml version="1.0" encoding="UTF-8"?>
<module xmlns="urn:jboss:module:1.1" name="org.dcm4che.audit">
    <resources>
        <resource-root path="dcm4che-audit-${version}.jar"/>
    </resources>

    <dependencies>
        <module name="org.dcm4che.conf.core-api"/>
        <module name="java.se"/>
        <module name="java.xml"/>
        <module name="java.xml.crypto"/>
        <module name="jdk.xml.dom"/>
        <module name="jakarta.xml.bind.api"/>
        <module name="org.slf4j"/>
    </dependencies>
</module>
