<?xml version="1.0" encoding="UTF-8"?>
<module xmlns="urn:jboss:module:1.1" name="org.dcm4che.conf.prefs-audit">
    <resources>
        <resource-root path="dcm4che-conf-prefs-audit-${version}.jar"/>
    </resources>

    <dependencies>
        <module name="org.dcm4che.net-audit" export="true"/>
        <module name="org.dcm4che.conf.prefs" export="true"/>
        <module name="javax.api"/>
    </dependencies>
</module>
