<?xml version="1.0" encoding="UTF-8"?>
<module xmlns="urn:jboss:module:1.1" name="org.dcm4che.dict-private">
    <resources>
        <resource-root path="dcm4che-dict-private-${version}.jar"/>
    </resources>

    <dependencies>
        <module name="org.dcm4che.core" export="true"/>
    </dependencies>
</module>
