<?xml version="1.0" encoding="UTF-8"?>
<module xmlns="urn:jboss:module:1.1" name="org.dcm4che.json">
    <resources>
        <resource-root path="dcm4che-json-${version}.jar"/>
    </resources>

    <dependencies>
        <module name="org.dcm4che.conf.api" export="true"/>
        <module name="org.dcm4che.core" export="true"/>
        <module name="org.dcm4che.net" export="true"/>
        <module name="org.dcm4che.net-audit" export="true"/>
        <module name="org.dcm4che.net-hl7" export="true"/>
        <module name="org.dcm4che.net-imageio" export="true"/>
        <module name="javax.json.api" export="true"/>
        <module name="javax.api"/>
        <module name="org.slf4j"/>
        <module name="org.jboss.weld.core"/>
        <module name="org.jboss.weld.spi"/>
    </dependencies>
</module>
