<?xml version="1.0" encoding="UTF-8"?>
<module xmlns="urn:jboss:module:1.1" name="org.dcm4che.conf.api-hl7">
    <resources>
        <resource-root path="dcm4che-conf-api-hl7-${version}.jar"/>
    </resources>

    <dependencies>
        <module name="org.dcm4che.conf.api" export="true"/>
        <module name="org.dcm4che.net-hl7" export="true"/>
    </dependencies>
</module>
