<?xml version="1.0" encoding="UTF-8"?>
<module xmlns="urn:jboss:module:1.1" name="org.dcm4che.xroad">
    <resources>
        <resource-root path="dcm4che-xroad-${version}.jar"/>
    </resources>

    <dependencies>
        <module name="org.dcm4che.core" export="true"/>
        <module name="org.slf4j"/>
        <module name="org.apache.cxf.impl" export="true"/>
        <module name="java.se" export="true"/>
        <module name="java.xml" export="true"/>
        <module name="java.xml.crypto" export="true"/>
        <module name="jdk.xml.dom" export="true"/>
        <module name="jakarta.xml.bind.api"/>
        <module name="jakarta.xml.soap.api"/>
        <module name="jakarta.xml.ws.api"/>
    </dependencies>
</module>
