<?xml version="1.0" encoding="UTF-8"?>
<module xmlns="urn:jboss:module:1.1" name="org.dcm4che.imageio">
    <resources>
        <resource-root path="dcm4che-imageio-${version}.jar"/>
        <resource-root path="imageio-openjpeg-0.0.1-SNAPSHOT.jar"/>
         <resource-root path="imageio-charls-0.0.1-SNAPSHOT.jar"/>
         <resource-root path="imageio-generic-0.0.1-SNAPSHOT.jar"/>
    </resources>

    <dependencies>
        <module name="org.dcm4che.image" export="true"/>
        <module name="org.dcm4che.imageio-rle" services="export" export="true"/>
        <module name="com.sun.media.imageio" services="export" export="true"/>
        <module name="javax.api"/>
        <module name="org.slf4j"/>
    </dependencies>
</module>
