<?xml version="1.0" encoding="UTF-8"?>
<module xmlns="urn:jboss:module:1.1" name="org.dcm4che.imageio">
    <resources>
        <resource-root path="dcm4che-imageio-${version}.jar"/>
        <resource-root path="dcm4che-imageio-opencv-${version}.jar"/>
        <resource-root path="weasis-core-img-${weasis.core.img.version}.jar"/>
    </resources>

    <dependencies>
        <module name="org.dcm4che.image" export="true"/>
        <module name="org.dcm4che.imageio-rle" services="export" export="true"/>
        <module name="com.sun.media.imageio" services="export" export="true"/>
        <module name="java.se" export="true"/>
        <module name="java.xml" export="true"/>
        <module name="java.xml.crypto" export="true"/>
        <module name="jdk.xml.dom" export="true"/>
        <module name="org.slf4j"/>
    </dependencies>
</module>
