<?xml version="1.0" encoding="UTF-8"?>
<module xmlns="urn:jboss:module:1.1" name="org.dcm4che.conf.ldap-hl7">
    <resources>
        <resource-root path="dcm4che-conf-ldap-hl7-${version}.jar"/>
    </resources>

    <dependencies>
        <module name="org.dcm4che.conf.api-hl7" export="true"/>
        <module name="org.dcm4che.conf.ldap" export="true"/>
        <module name="java.se" export="true"/>
        <module name="java.xml" export="true"/>
        <module name="java.xml.crypto" export="true"/>
        <module name="jdk.xml.dom" export="true"/>
    </dependencies>
</module>
