<?xml version="1.0" encoding="UTF-8"?>
<module xmlns="urn:jboss:module:1.1" name="org.dcm4che.net-audit">
    <resources>
        <resource-root path="dcm4che-net-audit-${version}.jar"/>
    </resources>

    <dependencies>
        <module name="org.dcm4che.audit" export="true"/>
        <module name="org.dcm4che.conf.core-api"/>
        <module name="org.dcm4che.net" export="true"/>
        <module name="org.slf4j"/>
        <module name="com.lmax.disruptor"/>
    </dependencies>
</module>
