<?xml version="1.0" encoding="UTF-8"?>
<module xmlns="urn:jboss:module:1.1" name="org.dcm4che.core">
    <resources>
        <resource-root path="dcm4che-core-${version}.jar"/>
    </resources>

    <dependencies>
        <module name="java.se" export="true"/>
        <module name="java.xml" export="true"/>
        <module name="java.xml.crypto" export="true"/>
        <module name="jdk.xml.dom" export="true"/>
        <module name="org.slf4j"/>
    </dependencies>
</module>
