<?xml version="1.0" encoding="UTF-8"?>
<module xmlns="urn:jboss:module:1.1" name="org.dcm4che.conf.core">
    <resources>
        <resource-root path="dcm4che-conf-core-${version}.jar"/>
    </resources>

    <dependencies>
        <module name="javax.api"/>
        <!-- to allow CDI-enabled configuration backends -->
        <module name="javax.enterprise.api"/>

        <module name="org.dcm4che.net"/>
        <module name="org.dcm4che.conf.core-api" export="true"/>
        <module name="org.dcm4che.conf.api"/>
        <module name="org.dcm4che.conf.api-hl7"/>

        <!-- TODO: Temporary, until we provide a way to register adapters externally -->
        <module name="org.dcm4che.audit"/>

        <module name="org.slf4j"/>
        <module name="org.apache.commons.beanutils"/>
        <module name="org.apache.commons.lang"/>
        <module name="org.apache.commons.jxpath"/>
        <!-- for json config storage -->
        <module name="org.codehaus.jackson.jackson-mapper-asl"/>
                                                                  
    </dependencies>
</module>
